<app-vocab-header 
(openCreateWordModal)="openCreateWordModal()"
(searchSubStrChange)="getSearchSubStrWords($event)"
(isLearnedFilterChange)="isLearnedFilterChange($event)">

</app-vocab-header>
@if(isLoading()){
<div class="loading-words">
  Loading words...
</div>
}

@if(errorMessage){
<div class="error-message">
  {{errorMessage}}
</div>
}
<app-word-list 
[words]="words" 
(deleteWord)="onDeleteWord($event)" 
(toggleLearned)="onToggleLearned($event)"
(openWord)="onOpenWord($event)" />

<app-word-form-modal
[word]="selectedWord"
[isWordFormModalOpen]="isWordFormModalOpen"
[mode]="wordModalMode"
[isSavingWord]="isSavingWord"
(closeWordModal)="closeWordModal()"
(updateWord)="updateWord($event)"
(createWord)="createWord($event)"></app-word-form-modal>

<app-pagination
(nextPage)="nextPage()"
(prevPage)="prevPage()"
[hasNext] = "hasNext"
[hasPrevious] = "hasPrevious"></app-pagination>