@if(isLoading()){
<div class="loading-words">
  Loading words...
</div>
}

@if(errorMessage){
<div class="error-message">
  {{errorMessage}}
</div>
}
<app-word-list 
[words]="words" 
(deleteWord)="onDeleteWord($event)" 
(toggleLearned)="onToggleLearned($event)"
(openWord)="onOpenWord($event)" />

<app-edit-word-modal
[word]="selectedWord"
[isEditModalOpen]="isEditModalOpen"
[isSavingWord]="isSavingWord"
(closeWordModal)="closeWordModal($event)"
(updateWord)="updateWord($event)"></app-edit-word-modal>